.grey-text {
	color: #e62e00;
}

p {
	font-family: 'Playfair Display', serif;
	font-size: 17px;
}


h1 {
	font-family: 'Playfair Display', serif;
	font-size: 35px;
	color: #ff471a;
	font-style: italic;
}

h2 {
	font-family: 'Playfair Display', serif;
	font-size: 50px;
	font-style: bold;

}

.author {
	font-family: 'Playfair Display', serif;
	font-size: 14px;
	text-align: right;
}

 .parallax-container {
      height: 450px;
    }

.data-caption {
	font-family: 'Playfair Display', serif;
	font-size: 20px;
}
